body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

div {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.root {
  width: 100vw;
  height: 100vh;
}

.theme-light .root {
  color: #000;
  background-color: #fff;
  transition: color 500ms, background-color 500ms;
}

.theme-dark .root {
  color: #fff;
  background-color: #000;
  transition: color 500ms, background-color 500ms;
}

.main-section {
  min-height: 799px;
}

.default-link,
.default-link:hover,
.default-link:active,
.default-link:visited {
  color: #000;
  /* fill:  */
  transition: color 500ms, background-color 500ms;
}

.theme-dark .default-link,
.theme-dark .default-link:hover,
.theme-dark .default-link:active,
.theme-dark .default-link:visited {
  color: #fff;
  transition: color 500ms, background-color 500ms;
}
