/* ======================== Blocks */
.nav-bar {
  display: flex;
  padding-top: 26px;
  margin-bottom: 26px;
}

.nav-bar-left-part {
  display: flex;
  margin-left: -8px;
}

.nav-bar-right-part {
  display: flex;
  margin-left: auto;
  margin-right: -10px;
  align-items: center;
}

/* ======================== Element */

.link-item {
  line-height: 24px;
  font-weight: 300;
  cursor: pointer;
  padding: 0 15px;
}

.link-item-delimiter {
  height: 24px;
  width: 1px;
  border-right: 1px solid #000;
}

.theme-dark .link-item-delimiter {
  border-color: #fff;
}

.nav-bar-button {
  background: #0000ff;
  /* background: #fff; */
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-self: center;
  transition: color 500ms, background-color 500ms;
}

/* .theme-dark .nav-bar-button {
  background: #000;
  transition: color 500ms, background-color 500ms;
} */

.nav-bar-link-name-wrapper {
  cursor: pointer;
  vertical-align: middle;
}
/* .nav-bar-link-name-wrapper {
  display: flex;
  align-items: flex-end;
} */

.nav-bar-link-name {
  font-size: 22px;
  font-weight: 700;
  margin-right: 10px;
}

.nav-bar-link-job {
  font-weight: 300;
  display: inline-flex;
}

.logo-react-wrapper {
  /* width: 25px;
  height: 25px; */
  margin-right: 20px;
}

/* .nav-bar-button svg {
  width: 20px;
  height: 20px;
}

.theme-light .nav-bar-button svg {
  fill: #000;
}

.theme-dark .nav-bar-button svg {
  fill: #fff;
} */
